body {
    margin: 30px;
    /* color: blue;  changes all text */
    background-color: rgba(13, 165, 114, 0.152)
}

p {
    padding: 11px;
    font-weight: 222px;
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
   
}